.page-detail .inner {
  width: 800px;
}

.page-detail .detail_area {
  display: flex;
}

.page-detail .img_wrap {
  width: calc(50% - 15px);
}

.page-detail .option_wrap {
  padding: 20px;
  width: calc(50% - 15px);
  margin-left: 30px;
  box-sizing: border-box;
}

.page-detail .option_list {
  display: flex;
  margin-top: 30px;
}

.option_list+.text_desc {
  margin-top: 10px;
  font-size: 12px;
  color: orangered;
}

.page-detail .option_list .list_item {
  width: calc((100% - 20px)/3);
}

.page-detail .option_list button {
  outline: none;
  cursor: pointer;
  height: 30px;
}

.page-detail .option_list .list_item:not(:nth-of-type(1)) {
  margin-left: 10px;
}

.page-detail .option_wrap .text_title {
  display: block;
  font-size: 18px;
  color: #555;
}

.page-detail .option_wrap .text_price {
  display: block;
  margin-top: 20px;
  font-weight: bold;
  font-size: 22px;
}

.page-detail .btn+.btn {
  margin-top: 10px;
}
.page-detail .count_area{
  margin-top:30px;
}
.page-detail .count_area+.text_desc{
  margin-top:10px;
  font-size:12px;
  color:#222;
}
.page-detail .count_box{
  position:relative;
  display:flex;
  width:120px;
  border:2px solid #d5d5d5;
  box-sizing: border-box;
  padding:5px;
}
.page-detail .count_box .text_desc{
  font-size:14px;
  font-weight:bold;
  text-align:center;
  width:60px;
}
.page-detail .count_box .icon_box{
  position:absolute;
  right:0;top:0;
  width:40px;
  display:flex;
  height:30px;
}
.page-detail .count_box .ic{
  cursor:pointer;
  width:50%;
  right:5px;
  display:block;
  height:20px;
  background-color:#fc0;
  border-radius:4px;
}
.page-detail .count_box .ic_plus{
  right: calc(50% + 10px) ;
}
.page-detail .count_box .ic_plus::after{
  content:'';
  position:absolute;
  left:50%;
  top:50%;transform: translate(-50%,-50%);
  width:16px;
  height:16px;
  background-image:url(../img/ic_plus_16px.svg);
  background-repeat:no-repeat;
  background-size:100%;
}

.page-detail .count_box .ic_minus::after{
  content:'';
  position:absolute;
  left:50%;
  top:50%;transform: translate(-50%,-50%);
  width:16px;
  height:16px;
  background-image:url(../img/ic_minus_16px.svg);
  background-repeat:no-repeat;
  background-size:100%;
}
