.ic_user{margin-right:8px;}
.logo {
  display: inline-block;
  width: 61px;
  height: 40px;
  background: url(../img/logo.svg) no-repeat;
  background-size: 100%;
}

.ic_badge {
  position: absolute;
  right: 10px;
  top: 5px;
  color: red;
  font-weight: bold;
  box-sizing: border-box;
  text-shadow: 0 0 1px #2d2d2d;
}

.ic{
  position:absolute;
  right:0;
  top:50%;
  transform: translateY(-50%);
  width:30px;
  height:30px;
}

.ic_clear::after{
  cursor: pointer;
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 16px;
  height: 16px;
  transform: translate(-50%, -50%);
  background-image: url(../img/ic_close_16px.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  opacity:0;
  cursor:default;
  pointer-events: none;
  user-select: none;
}
.input_box.input_focus .ic_clear::after{
  opacity:1;
  pointer-events:all;
  user-select:auto;
}
.ic_view::after{
  cursor: pointer;
  content:'';
  position: absolute;
  left:50%;
  top: 50%;
  width:16px;
  height:16px;
  transform: translate(-50%, -50%);
  background-image: url(../img/ic_view.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.ic_hidden{
  position:absolute;
  right:0;
  top:50%;
  transform: translateY(-50%);
  width:30px;
  height:30px;

}

.ic_hidden::after{
  cursor: pointer;
  content:'';
  position: absolute;
  left:50%;
  top: 50%;
  width:16px;
  height:16px;
  transform: translate(-50%, -50%);
  background-image: url(../img/ic_hidden.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.ic_heart, .ic_heart_filled{
  position:absolute;
  top:auto;
  bottom:0;
  transform: translateY(0);
  width:40px;
  height:40px;
  cursor: pointer;
}
.ic_heart::before{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 20px;
  height: 20px;
  background-image: url(../img/ic_heart_24px.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.ic_heart_filled::before{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 20px;
  height: 20px;
  background-image: url(../img/ic_heart_filled.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.ic.ic_arrow{
  position:static;
  margin-right:10px;
  display:block;
  width: 16px;
  transform: translate(0,0);
  height: 16px;
  background-image: url(../img/ic_arrow_forward_20px.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  cursor:pointer;
}