.text_login {
  transition: 0.3s;
  font-weight: bold;
}

.text_login:hover {
  color: rgb(245, 130, 22);
}

.text_error {
  margin-top: 4px;
  line-height: 20px;
  color: red;
  font-size: 12px;
}

.text_guide {
  text-align: center;
  line-height: 28px;
  color: #555;
  font-weight: bold;
}

.text_guide:first-child {
  margin-top: 100px;
}